h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
body {
   background: (linear, left top, right top, from(#0b0b0b73), color-stop(50%, #0b0b0b80)),url(../images/main-bg.png);
    background: linear-gradient(
90deg
, #0b0b0b73 0%, #0b0b0b80 50%),url(../images/main-bg.png);

}

* {
font-family: 'Montserrat', sans-serif;
}
.container {
display: flex;
max-width: 320px;
 background: (linear, left top, right top, from(#0b0b0b73), color-stop(50%, #0b0b0b80)),url(../images/main-bg.png);
    background: linear-gradient(
90deg
, #0b0b0b73 0%, #0b0b0b80 50%),url(../images/main-bg.png);


 

}

.list {
    list-style: none;
    
}
@media screen and (min-width: 768px)  and (max-width: 1199px)  {
.container {
  
  max-width: 768px;
  justify-content: center;
}
body {
   background: (linear, left top, right top, from(#0b0b0b73), color-stop(50%, #0b0b0b80)),url(../images/main-bg-tablet.png);
    background: linear-gradient(
90deg
, #0b0b0b73 0%, #0b0b0b80 50%),url(../images/main-bg-tablet.png);
}
}
@media screen and (min-width: 1200px) {
.container{
   max-width: 1280px;
}
 body {background: (linear, left top, right top, from(#0b0b0b73), color-stop(50%, #0b0b0b80)),url(../images/main-bg-desktop.png);
    background: linear-gradient(
90deg
, #0b0b0b73 0%, #0b0b0b80 50%),url(../images/main-bg-desktop.png);


}
}